:global {
  .ant-modal-body {
    padding-right: 3rem;
  }
  label, input::placeholder {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
  }
  .ant-modal-footer {
    border: none;
    text-align: right;
    padding-bottom: 4rem;
    padding-right: 3rem;
  }

  .ant-form-item-label {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
  }
}

.role-div {
  padding: 2rem 0 0 0;

  .role-col {
    padding: 1.5rem 0 0.9rem 0;

    h1 {
      font-weight: 600;
      font-size: 24px;
      line-height: 29px;
    }

    .add-new-role {
      float: right;
      font-weight: 600;
      font-size: 18px;
      line-height: 22px;
      color: var(--primary-blue);
    }
  }

  .role-name-col {
    background: #C4C4C4;
    margin-bottom: 1rem;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
  }
}

.modal-title {
  padding-top: 2rem;
  p {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
  }
}
