:global {
  :local(.drop-down) {
    .anticon {
      padding-right: 1rem;
      background: var(--primary-icon-gradient);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      float: right;
    }

    .anticon.anticon-down, .ant-dropdown-link > .anticon.anticon-down {
      font-size: 17px;
      padding-top: 3px;
    }
  }
}

.drop-down {
  .span18 {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: var(--gray-secondary);
  }

  .span14 {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
  }

  .spanInput {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: var(--gray-secondary);
  }
}
