.main-div {
  :global {
    .ant-modal-footer {
      border: none;
      padding-bottom: 5rem;
      padding-right: 3rem;
      text-align: center;
    }

    .ant-modal-close-x {
      padding-top: 1rem;
      padding-right: 1rem;
    }

    .ant-upload-span {
      .ant-btn {
        border: none;
      }
    }

    :local(.avatar-col) {
      .ant-avatar .ant-avatar-circle .ant-avatar-image .ant-avatar-icon {
        height: 122px;
        width: 122px;
      }
    }
  }
}

.modal-footer {
  text-align: right;
}

.modal-body {
  .client-col {
    padding: 1rem 0 1rem 1rem;
    margin-bottom: 1rem;
    line-height: 20px;
    border: 2px solid #f2f2f2;
    width: 100%;

    b {
      font-weight: 600;
      font-size: 14px;
      line-height: 17px;
    }

    span {
      font-weight: 400;
      font-size: 12px;
      line-height: 15px;
    }
  }

  :global {
    .ant-radio-button-wrapper {
      height: auto;
      color: var(--black-1);
    }

    .ant-radio-group {
      width: 100%;
    }

    .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
      border: 2px solid var(--primary-blue);
      box-sizing: border-box;
      box-shadow: 0 7px 4px rgba(231, 231, 231, 0.25);
    }

    .ant-input-affix-wrapper {
      padding: 0.7rem 1rem 0.7rem 1rem;
      background-color: var(--gray-2) !important;
    }

    .anticon svg {
      font-size: 21px;
    }

    .ant-input-affix-wrapper > input.ant-input {
      padding-left: 1.5rem;
    }

    .ant-input::placeholder {
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      color: var(--black-1);
    }

    .ant-input-affix-wrapper {
      border: none;

      &:hover,
      &:focus {
        border: none;
        outline: none !important;
      }
    }
  }
}

.main-div {
  padding: 2rem 0 2rem 0;

  :global {
    .ant-upload-list {
      display: none;
    }
  }
}

.employee-col {
  padding: 1.5rem 0 0.9rem 0;

  h1 {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
  }

  .add-new-employee {
    float: right;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: var(--primary-blue);
  }
}

h1 {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
}

.form-header {
  width: 100%;
  margin: 1.5rem 1rem 1.5rem 1rem;
  background: var(--gray-secondary);
  padding: 1rem 0.6rem 0 2rem;

  p {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: var(--white);
  }
}

.active-status {
  color: var(--primary-green);
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.inactive-status {
  color: var(--gray-secondary);
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.modal-message {
  padding: 3rem 0 0 0;
  text-align: center;

  img {
    height: 200px;
    padding: 1rem;
  }

  p {
    font-weight: 400;
    font-size: 17px;
    line-height: 17px;
  }

  .warning-text {
    color: var(--primary-red);
  }

  .archive-text {
    color: var(--primary-orange);
  }
}

.avatar-col {
  position: relative;

  .avatar-image {
    height: 122px;
    width: 122px;
  }

  .name-tag {
    position: absolute;
    width: 103px;
    height: 30px;
    text-align: center;
    display: flex;
    bottom: 0;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    align-items: center;
    justify-content: center;
    color: var(--white);
    background: var(--primary-green);
    border-radius: 6px;
  }

  .camera-div {
    position: absolute;
    width: 40px;
    height: 40px;
    color: var(--white);
    margin-left: 2.3rem;
    margin-right: 50%;
    top: 6rem;
    background: var(--gray-2);
    border-radius: 50%;
    cursor: pointer;
  }

  .employee-name {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    padding-bottom: 3%;
  }

  .employee-title {
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
  }
}

.detail-row {
  font-weight: 600;
  font-size: 17px;
  line-height: 22px;

  .detailValue {
    background: var(--gray-2);
    display: flex;
    margin: 1rem 1.8rem 1rem 0;
    flex-direction: row;
    align-items: flex-start;
    padding: 9px 23px;
  }
}

.footer-btn {
  padding-right: 2rem;
  padding-bottom: 3rem;
}

.user-name {
  cursor: pointer;
}

.add-existing-col h1 {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  float: right;
  color: var(--primary-blue);
  cursor: pointer;
  padding-right: 1rem;
  padding-top: 1.5rem;
}

.add-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
}

.add-body {
  padding: 2rem 1rem 2rem 1rem;
  min-height: 300px;
}

.search-client {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
}

.list-client-card {
  padding: 1rem 0 0 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;

  .client-row {
    width: 100%;
    max-height: 22vh;
    height: 22vh;
    overflow-y: auto;
  }
}

.close-icon-div {
  padding: 5px;
  border-radius: 50px;
  background: var(--gray-2);
}

.modal-body {
  padding: 1rem;
}

.blankSpan {
  color: var(--gray-secondary);
  font-size: 14px;
}

.add-pay-rate {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  cursor: pointer;
  color: var(--primary-blue);
}

.upload-file {
  padding: 1rem;
  display: flex;
  background: var(--gray-2);

  div {
    width: 50%;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .browse-file {
    text-align: end;
    cursor: pointer;

    span {
      color: var(--primary-blue);
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
    }
  }

  span {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: var(--gray-secondary);
  }
}

.view-pay-rate {
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  color: var(--primary-blue);
  margin: 1rem 0 2rem 0;
  cursor: pointer;
}
