.main-div {
  padding: 2rem 0 0 0;
}

.employee-col {
  padding: 1.5rem 0 0.9rem 0;

  h1 {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
  }

  .add-new-employee {
    float: right;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: var(--primary-blue);
  }
}

.formCol {
  padding: 0 1rem 0 1rem;

  h1 {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
  }
}
