
.card-col-timesheet {
  overflow-x: auto;
  overflow-y: auto;
}

.site-card-wrapper {
  padding-top: 2rem;
  font-style: normal;

  .timesheet {
    padding: 1rem;
    font-weight: 600;
    font-size: 28px;
    line-height: 29px;

    @media screen and (max-width: 1282px) {
      font-size: 20px;
    }
  }

  .add-time-stamp {
    font-weight: 600;
    padding: 1rem;
    font-size: 20px;
    float: right;

    @media screen and (max-width: 1281px) {
      font-size: 14px;
    }

    line-height: 22px;
    cursor: pointer;
    color: var(--primary-blue);
  }
}

/*** NewTimeSheet CSS ***/

.form-col {
  padding: 1.5rem;

  .date-view {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
  }
}

.form-col-detail {
  padding: 1.5rem;

  span {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
  }
}

.task-card {
  padding: 2rem 1rem 2rem 1rem;

  :global {
    .ant-form-item-control {
      margin-right: 2rem;
    }

    .ant-input {
      font-weight: 600;
      font-size: 18px;
      width: 100%;
      line-height: 22px;
    }
  }

  .total-time {
    padding-left: 2rem;
    padding-top: 1rem;
  }

  .task-row {
    padding: 0 1.2rem 0 1.2rem;
  }

  .start-time,
  .end-time {
    width: 15%;

    :global {
      .ant-input {
        color: var(--primary-blue);
      }
    }
  }

  .task-div,
  .filter-task-list {
    padding: 0.7rem;
  }

  .filter-task-list {
    border-bottom: 1px solid var(--gray-secondary);
  }

  .task-div-list {
    border-top: 1px solid var(--gray-secondary);
    border-right: 1px solid var(--gray-secondary);
    border-left: 1px solid var(--gray-secondary);
  }

  .task-div {
    border: 1px solid var(--gray-secondary);
  }

  .task-div-list,
  .task-div {
    margin-top: 1rem;
    box-sizing: border-box;

    .play-button {
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }

    div {
      font-weight: 600;
      font-size: 18px;
      line-height: 22px;
    }

    span {
      font-weight: 600;
      font-size: 18px;
      line-height: 22px;
      width: 100%;
      color: var(--primary-blue);
    }
  }

  .task-name {
    display: flex;
    align-items: center;
  }

  div.task-name>div:first-child {
    font-size: 13px;
    padding-right: 1rem;

    p {
      padding: 0.2rem;
      border-radius: 5px;
      cursor: pointer;
      background-color: var(--blue-1);

      &:hover {
        background-color: var(--blue-2);
      }
    }
  }

  .task-div-header {
    padding: 0 1.4rem 0.2rem 1.2rem;

    div {
      color: var(--white);
      font-weight: 500;
      font-size: 18px;
      line-height: 22px;
      padding: 0.8rem 0 0.8rem 1.4rem;
      background: var(--gray-secondary);
    }

    .start-header,
    .end-header {
      width: 16%;
    }

    .total-header {
      width: 24%;
    }

    .task-header,
    .client-header {
      width: 22%;
    }
  }
}

.form-col-header {
  padding: 2rem;

  b {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;

    span {
      color: var(--primary-blue);
    }
  }
}

.null-span {
  font-size: 15px;
  text-align: center;
  color: var(--gray-secondary);
}

.form-row {
  border: 1px solid #E0E0E0;
  box-sizing: border-box;
  box-shadow: 0 7px 4px rgba(231, 231, 231, 0.25);
}

.task-col {
  padding: 1.5rem;
  border-top: 1px solid #E0E0E0;
  box-sizing: border-box;
  box-shadow: 0 7px 4px rgba(231, 231, 231, 0.25);
}

.time-start-col {
  padding: 1.5rem;
  border-top: 1px solid #E0E0E0;
  border-left: 1px solid #E0E0E0;
  box-sizing: border-box;
  box-shadow: 0 7px 4px rgba(231, 231, 231, 0.25);
  display: flex;
  justify-content: center;
  align-items: end;

  span {
    font-weight: 600;
    font-size: 18px;
    line-height: 23px;
  }
}

.form-col1 {
  padding-left: 1.5rem;
  padding-top: 1.5rem;

  span {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
  }

  .add-entry {
    float: right;
    padding-right: 2.5%;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    cursor: pointer;
    color: var(--primary-blue);
  }
}

.card-header-row {
  padding-top: 1.9rem;
  padding-bottom: 2.5rem;

  span {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
  }
}

.card-body {
  padding: 1rem;

  span {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
  }

  .header {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
  }
}

.timesheet-div {
  display: flex;
  padding: 0.7rem;
  margin-right: 1.5rem;
  justify-content: center;
  align-items: center;

  div {
    width: 50%;
  }
}

.timesheet-div:nth-child(odd) {
  background: var(--gray-2);
}

.total-time-div {
  background: #FFFFFF;
  padding: 1.4rem;
  border: 1px solid #F2F2F2;
  box-sizing: border-box;
  box-shadow: 0 7px 4px rgba(231, 231, 231, 0.25);

  @media only screen and (max-width: 767px) {
    margin-bottom: 1.4rem;
  }

  .hours {
    float: right;
    font-weight: normal;
    font-size: 14px;
    padding-top: 10px;
    line-height: 17px;
  }
}

.task-name,
.client-name,
.start-time,
.total-time,
.play-button {
  padding: 0 1.5% 0 0;
}

.font24 {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
}

.timesheet-card {
  padding: 2rem 1rem 1rem 1rem;

  .date-span {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    float: right;
  }

}

.timesheet-detail {
  padding-top: 1.5rem;
  padding-right: 0.5rem;
}

.total-row {
  padding-left: 3rem;
  padding-top: 0.6rem;
  padding-right: 1rem;

  span {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
  }

  .total-count {
    float: right;
  }
}

.data-picker {
  padding: 1rem;
}

.next-icon {
  text-align: center;
  height: 54px;
  display: flex;
  margin-top: 1rem;
  margin-right: 1rem;
  justify-content: center;
  align-items: center;
  background: var(--gray-2);
  cursor: pointer;
}

.dropdown-menu {
  cursor: pointer;

  span {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: var(--primary-blue);
  }
}

.resp-table-header,
.resp-table-body {
  display: flex;
}

.resp-table-header {
  background: var(--gray-secondary);
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: var(--white)
}

.resp-table-body {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.table-header-cell,
.table-body-cell {
  width: 15%;
  padding: 1rem;
}

.table-body-cell {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.modal-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  padding: 1rem;
}

.form-modal {
  padding: 2rem;
}

.form-body {
  padding: 1rem;
}

.form-footer {
  padding: 0 2rem 0 2rem;
  text-align: end;
}

.close-icon-div {
  padding: 5px;
  border-radius: 50px;
  background: var(--gray-2);
}

.timesheet-task {
  background-color: var(--gray-2);
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  padding: 1rem;
}

.timer-div {
  display: flex;
  align-items: center;
  justify-content: center;

  div {
    width: 50%;
  }
}

/*** Modal CSS ***/

.modal-message {
  padding: 3rem 0 0 0;
  text-align: center;

  img {
    height: 200px;
    padding: 1rem;
  }

  p {
    font-weight: 400;
    font-size: 17px;
    line-height: 17px;
  }

  .warning-text {
    color: var(--primary-red);
  }
}

.weekly-timesheet-card {
  padding: 2rem 1rem 2rem 1rem;
}
