:global {

  .ant-modal-close {
    padding: 1rem;
  }

  .ant-modal-close-x {
    padding-top: 0.3rem;
  }

  .ant-modal-footer {
    border: none;
    padding-bottom: 2rem;
    padding-right: 3rem;
  }

  :local(.site-card-wrapper) {
    .ant-card-body {
      padding: 0;
    }

    .ant-form-item {
      margin-bottom: 0;
    }

    .ant-card-grid {
      padding-left: 7px;
      padding-right: 7px;
    }

    .ant-table-wrapper {
      padding: 1rem;
      font-size: 30px;
    }

    .anticon svg {
      color: var(--primary-blue);
    }

    .anticon-left,
    .anticon-right {
      font-size: 16px;
      font-weight: 800;
    }

    .anticon-close-circle {
      cursor: pointer;
      background: var(--gray-2);
    }

    .anticon-close-circle svg {
      color: var(--gray-secondary);

      &:hover {
        color: var(--primary-blue);
      }
    }

    .ant-picker {
      .ant-picker-input input::placeholder {
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        color: var(--gray-secondary);
      }
    }
  }
}

.card-col-timesheet {
  overflow-x: auto;
  overflow-y: auto;
}

.site-card-wrapper {
  padding-top: 2rem;
  font-style: normal;

  .timesheet {
    padding: 1rem;
    font-weight: 600;
    font-size: 28px;
    line-height: 29px;

    @media screen and (max-width: 1282px) {
      font-size: 20px;
    }
  }

  .add-time-stamp {
    font-weight: 600;
    padding: 1rem;
    font-size: 20px;
    float: right;

    @media screen and (max-width: 1281px) {
      font-size: 14px;
    }

    line-height: 22px;
    cursor: pointer;
    color: var(--primary-blue);
  }
}

/*** NewTimeSheet CSS ***/

.formCol {
  padding: 1.5rem;

  .date-view {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
  }
}

.formColDetail {
  padding: 1.5rem;

  span {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
  }
}

.task-card {
  padding: 2rem 1rem 2rem 1rem;

  :global {
    .ant-form-item-control {
      margin-right: 2rem;
    }

    .ant-input {
      font-weight: 600;
      font-size: 18px;
      width: 100%;
      line-height: 22px;
    }
  }

  .total-time {
    padding-left: 2rem;
    padding-top: 1rem;
  }

  .task-row {
    padding: 0 1.2rem 0 1.2rem;
  }

  .start-time,
  .end-time {
    width: 15%;

    :global {
      .ant-input {
        color: var(--primary-blue);
      }
    }
  }

  .task-div, .filter-task-list {
    padding: 0.7rem;
  }
  

  .task-div-list,
  .task-div {
    margin-top: 1rem;
    border: 1px solid var(--gray-secondary);
    box-sizing: border-box;

    .play-button {
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }

    div {
      font-weight: 600;
      font-size: 18px;
      line-height: 22px;
    }

    span {
      font-weight: 600;
      font-size: 18px;
      line-height: 22px;
      color: var(--primary-blue);
    }
  }

  .task-name {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
  }

  div.task-name>div:first-child {
    font-size: 13px;
    padding-right: 1rem;

    p {
      padding: 0.2rem;
      border-radius: 5px;
      cursor: pointer;
      background-color: var(--blue-1);

      &:hover {
        background-color: var(--blue-2);
      }
    }
  }

  .task-div-header {
    padding: 0 1.4rem 0.2rem 1.2rem;

    div {
      color: var(--white);
      font-weight: 500;
      font-size: 18px;
      line-height: 22px;
      padding: 0.8rem 0 0.8rem 1.4rem;
      background: var(--gray-secondary);
    }

    .start-header,
    .end-header {
      width: 16%;
    }

    .total-header {
      width: 24%;
    }

    .task-header,
    .client-header {
      width: 22%;
    }
  }
}

.formColHeader {
  padding: 2rem;

  b {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;

    span {
      color: var(--primary-blue);
    }
  }
}

.null-span {
  font-size: 15px;
  text-align: center;
  color: var(--gray-secondary);
}

.formRow {
  border: 1px solid #E0E0E0;
  box-sizing: border-box;
  box-shadow: 0 7px 4px rgba(231, 231, 231, 0.25);
}

.taskCol {
  padding: 1.5rem;
  border-top: 1px solid #E0E0E0;
  box-sizing: border-box;
  box-shadow: 0 7px 4px rgba(231, 231, 231, 0.25);
}

.timeStartCol {
  padding: 1.5rem;
  border-top: 1px solid #E0E0E0;
  border-left: 1px solid #E0E0E0;
  box-sizing: border-box;
  box-shadow: 0 7px 4px rgba(231, 231, 231, 0.25);
  display: flex;
  justify-content: center;
  align-items: end;

  span {
    font-weight: 600;
    font-size: 18px;
    line-height: 23px;
  }
}

.formCol1 {
  padding-left: 1.5rem;
  padding-top: 1.5rem;

  span {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
  }
}

.cardHeaderRow {
  padding-top: 1.9rem;
  padding-bottom: 2.5rem;

  span {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
  }
}

.cardBody {
  padding: 1rem;

  span {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
  }

  .header {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
  }
}

.timesheetDiv {
  display: flex;
  padding: 0.7rem;
  margin-right: 1.5rem;
  justify-content: center;
  align-items: center;

  div {
    width: 50%;
  }
}

.timesheetDiv:nth-child(odd) {
  background: var(--gray-2);
}

.totalTimeDiv {
  background: #FFFFFF;
  padding: 1.4rem;
  border: 1px solid #F2F2F2;
  box-sizing: border-box;
  box-shadow: 0 7px 4px rgba(231, 231, 231, 0.25);

  @media only screen and (max-width: 767px) {
    margin-bottom: 1.4rem;
  }

  .hours {
    float: right;
    font-weight: normal;
    font-size: 14px;
    padding-top: 10px;
    line-height: 17px;
  }
}

.font24 {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
}

.timesheetCard {
  padding: 1rem .5rem .5rem 0;

  .dateSpan {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    float: right;
  }

}

.timeSheetDetail {
  padding-top: 1.5rem;
  padding-right: 0.5rem;
}

.totalRow {
  padding-left: 3rem;
  padding-top: 0.6rem;
  padding-right: 1rem;

  span {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
  }

  .totalCount {
    float: right;
  }
}

.data-picker {
  padding: 1rem;
}

.next-icon {
  text-align: center;
  height: 54px;
  display: flex;
  margin-top: 1rem;
  margin-right: 1rem;
  justify-content: center;
  align-items: center;
  background: var(--gray-2);
  cursor: pointer;
}

.dropdown-menu {
  cursor: pointer;

  span {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
  }
}

.resp-table-header,
.resp-table-body {
  display: flex;
}

.resp-table-header {
  background: var(--gray-secondary);
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: var(--white)
}

.resp-table-body {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.table-header-cell,
.table-body-cell {
  width: 15%;
  padding: 1rem;
}

.table-body-cell {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.modal-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  padding: 1rem;
}

.form-modal {
  padding: 2rem;
}

.close-icon-div {
  padding: 5px;
  border-radius: 50px;
  background: var(--gray-2);
}

.timesheetTask {
  background-color: var(--gray-2);
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  padding: 1rem;
}