:global {
  :local(.login-row) {
    .ant-form-vertical .ant-form-item-label > label, .ant-input::placeholder {
      font-weight: 600;
      font-size: 18px;
      line-height: 22px;
    }

    .ant-input::placeholder {
      color: var(--gray-secondary);
    }

    .ant-btn {
      height: 3rem;
    }
  }
  :local(.forget-form) {
    .ant-btn {
      width: 100%;
    }
  }
}

.login-form-button {
  width: 100%;
}

.login-row {
  padding: 0 1rem 0 1rem;
}

.sign-in-content {
  h3 {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
  }
}

.sign-in-header {
  h1 {
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
  }

  .sub-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
  }
}

.sign-in-form-col {
  padding: 6rem 8rem 0 4rem;
  align-items: center;
  justify-content: center;
  @media screen and (max-width: 767px) {
    padding: 6rem 2rem 0 2rem;
  }
}

.highFiveImage {
  width: 90%;
}


.sign-in-logo {
  padding-bottom: 8%;

  .logo {
    height: 3.4rem;
  }
}

.image-col {
  padding-top: 9rem;
  @media screen and (max-width: 1300px) and (min-width: 767px) {
    padding-top: 14rem;
    .highFiveImage {
      width: 100%;
    }
  }
  @media screen and (max-width: 1700px) and (min-width: 1300px) {
    padding-top: 10rem;
  }
  @media screen and (max-width: 767px) {
    display: none;
  }
}


.forgot-password {
  float: right;
  cursor: pointer;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: var(--primary-blue);
}

.modal-header {
  padding: 1rem 2rem 1rem 2rem;
}

.modal-subtitle, .modal-header {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
}


.forget-form {
  padding: 2rem 3rem 0 3rem;
}
