.title-div{
	padding-bottom: 2rem;
	border-bottom: 5px solid var(--gray-2);
	margin-bottom: 2rem;
}

.title {
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 29px;
}

.sub-title {
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 29px;
}
	
.close-icon-div {
padding: 5px;
border-radius: 50px;
background: var(--gray-2);
}

.formCol {
  margin-top: 1rem;
}
