:global {
  :local(.main-div) {
    .ant-card-grid {
      padding: 0.8rem 1rem 0.8rem 1rem;
      box-shadow: none;
    }
  }

  :local(.task-card) {
    .ant-avatar {
      float: right;
    }
  }

  .ant-modal-close-x {
    padding-top: 0.3rem;
  }
}




.modal-footer {
  justify-items: left;
  align-items: flex-start;
  display: flex;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  padding: 1rem 0.5rem 1rem 0.5rem;
  box-sizing: border-box;
}

.file-attach {
  height: 22px;
  padding: 2px 3px 2px 3px;
  color: var(--primary-purple);
  background: rgba(149, 35, 156, 0.2);
}

.file-name {
  padding-top: 5px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.statusDiv{
  
}
.task-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 40px;
}

.task-body {
  padding: 2rem 1rem 2rem 1rem;
  min-height: 300px;
}

.task-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
}

.description {
  padding: 1rem 0 0 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;

  div  {
    margin-bottom: 0.3rem;
  }
}

.close-icon-div {
  padding: 5px;
  border-radius: 50px;
  background: var(--gray-2);
}

.modal-body {
  padding: 1rem;
}

.status-div{
  background: var(--gray-2);
  padding:1rem;
}