:global {
  :local(.main-div) {
    .ant-card-grid {
      padding: 0.8rem 1rem 0.8rem 1rem;
      box-shadow: none;
    }
  }

  .ant-modal-body {
    padding: 18px 0 0 0;
  }

  :local(.modal-footer) {
    .ant-modal-footer {
      text-align: left;
    }
  }

  :local(.task-card) {
    .ant-avatar {
      float: right;
    }
  }

  .ant-modal-close-x {
    padding-top: 0.3rem;
  }

  .ant-picker-suffix {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: var(--black);
  }
}

.modal-body {
  :global {

    .ant-picker,
    .ant-picker.ant-picker-borderless,
    .ant-input {
      background-color: var(--white) !important;
    }
  }

  .assigned-details {
    :global {
      .ant-col {
        text-align: center;
        padding-top: 1rem;
        border: 1px solid var(--gray-2);
      }
    }
  }
}

.modal-footer {
  justify-items: center;
  align-items: center;
  display: flex;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  padding: 1rem;
  box-sizing: border-box;

  Button {
    float: right;
  }
}

.file-attach {
  height: 22px;
  padding: 2px 3px 2px 3px;
  color: var(--primary-purple);
  background: rgba(149, 35, 156, 0.2);
}

.file-name {
  padding-top: 5px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.task-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 40px;
}

.task-body {
  padding: 1rem;
  min-height: 300px;
  width: 100%;
}

.task-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
}

.description {
  padding: 1rem 0 0 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;

  div {
    margin-bottom: 0.3rem;
  }
}

.close-icon-div {
  padding: 5px;
  border-radius: 50px;
  background: var(--gray-2);
}

.modal-body {
  padding: 1rem;
}

.task-header {
  padding-left: 1rem;
}

.status-div {
  background: var(--gray-2);
  padding: 1rem;
}

.custom-picker input {
  visibility: hidden;
}

.user-name {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
}

.heading {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.createdAt {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
}

.client-project-name {
  background-color: rgba(149, 35, 156, 0.2);
  color: var(--primary-purple);
  padding: 0.5rem;
  margin-left: 1.5rem;
}

.deadline {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: var(--black);
}