.form-header {
	width: 100%;
	margin: 1.5rem 1rem 1.5rem 1rem;
	background: var(--gray-secondary);
	padding: 1rem 0.6rem 0 2rem;
  
	p {
	  font-weight: 600;
	  font-size: 18px;
	  line-height: 22px;
	  color: var(--white);
	}
  }
  