.table-attachment {
  color: var(--primary-blue);
  cursor: pointer;
}

.title-div {
  border-bottom: 5px solid var(--gray-2);
  margin-bottom: 2rem;
}
.title {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
}
