.no-content-div {
  background-color: white;
  margin-top: 20px;

  .wrapper {
    text-align: center;
    width: 100%;
  }
  .title {
    font-weight: 600;
    font-size: 24px;
    color: var(--primary-blue);
    line-height: 2px;
    align-items: center;
    text-align: center;
  }

  .image {
    width: fit-content;
    margin-bottom: 20%;
  }

  .sub-title {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
  }
}