.items-table {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
  border-spacing: 0 1rem;
  margin-bottom: 1rem;

  thead {
    background: var(--gray-secondary);
  }
  
  tbody {
    tr:first-child td {
      padding-top: 1rem;
    }
  }

  tr {
    td:first-child, th:first-child {
      width: 40%;
      word-break: break-all;
    }
  }

  th {
    padding: 1rem 2rem;
    height: 50px;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: var(--white);
  }
}

.horizontal {
  border-top: 1px solid var(--gray-2);
  vertical-align: top;
  padding-bottom: 1rem;
}

.td-input {
  width: 100%;
  padding: 0 2rem 0 1.2rem;

  @media screen and (max-width: 1436px) {
    padding: 0 1rem 0 0.5rem;
  }
}

.add-project {
  font-weight: 600;
  font-size: 16px;
  line-height: 17px;
  padding-left: 1.2rem;
  cursor: pointer;
  color: var(--primary-blue);
}


