:global {
  .ant-modal-close-x {
    padding-top: 0.3rem;
  }
}

.edit-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
}

.edit-body {
  padding: 2rem 1rem 2rem 1rem;
  min-height: 300px;
}

.close-icon-div {
  padding: 5px;
  border-radius: 50px;
  background: var(--gray-2);
}

.modal-body {
  padding: 1rem;
}

.edit-modal {
  padding: 0 0 2rem 0;

  .title {
    color: var(--primary-blue);
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
  }

  span {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: var(--gray-secondary);
  }
}

.dynamic-form {
  padding: 2rem 0 1rem 0;
  max-height: 60vh;
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%
}

.subtitle {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  display: flex;
  align-items: center;
}

.subtitle1 {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  display: flex;
  align-items: center;
  justify-content: end;
}

.total-count {
  padding: 1rem;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
}