.project-main-div {
  :global {
    .ant-modal-footer {
      border: none;
      text-align: center;
      padding-bottom: 5rem;
    }

    :local(.dropdown-menu) {
      .ant-dropdown-menu {
        margin: 0 7rem;
      }

      .ant-dropdown-menu-item {
        padding: 12px 0 12px 15px;
      }
    }

    :local(.project-main-div) {
      .ant-progress-inner {
        border-radius: 0;
      }

      .ant-progress-outer {
        width: 85%;
      }

      .ant-progress-text {
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
      }

      .ant-progress-status-success {
        .ant-progress-text {
          color: var(--black);

          .anticon {
            display: none;
          }
        }

        .ant-progress-text::before {
          content: "100%";
        }
      }

      .ant-progress-bg {
        border-radius: 0;
        background-color: var(--primary-orange);
      }

      .ant-progress-status-success .ant-progress-bg {
        background-color: var(--primary-green);
      }
    }
  }
}

.modal-body {
  .assigned-details {
    Col {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.form-col2 {
  padding: 0 1rem 0 0;
}

.project-main-div {
  padding: 2rem 0 0 0;
}

.dropdown-menu {
  display: flex;
}

.add-new {
  float: right;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: var(--primary-blue);
}

.add-new-task {
  float: right;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: var(--primary-blue);
  padding: 0 1rem 0 1rem;
}

.modal-message {
  padding: 3rem 0 0 0;
  text-align: center;

  img {
    height: 200px;
    padding: 1rem;
  }

  p {
    font-weight: 400;
    font-size: 17px;
    line-height: 17px;
  }

  .warning-text {
    color: var(--primary-red);
  }

  .archive-text {
    color: var(--primary-orange);
  }
}

.main-div {
  padding: 2rem 0 2rem 0;
}

.formHeader {
  width: 100%;
  margin: 1.5rem 1rem 1.5rem;
  background: var(--gray-secondary);
  padding: 1rem 0.6rem 0 2rem;

  p {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: var(--white);
  }
}

.project-col {
  padding: 1rem 0 1rem 0;

  h1 {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;

    span {
      color: var(--primary-blue);
    }
  }
}

.add-new {
  float: right;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: var(--primary-blue);
}

.formCol {
  padding: 0 1rem 0 1rem;

  @media screen and (max-width: 767px) {
    padding: 0 1rem 0 0;
  }

  h1 {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
  }
}

.form-submit {
  padding-right: 3rem;
}

.Active-text {
  color: var(--primary-green);
}

.Inactive-text {
  color: var(--primary-purple);
}

.Closed-text {
  color: var(--gray-secondary);
}

.add-task-row {
  margin-left: 1rem;
  margin-right: 1rem;
}

.upload-file {
  padding: 1rem;
  display: flex;
  background: var(--gray-2);

  div {
    width: 50%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .browse-file {
    text-align: end;
    cursor: pointer;

    span {
      color: var(--primary-blue);
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
    }
  }

  span {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: var(--gray-secondary);
  }
}

.project-add-task {
  display: flex;
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  color: var(--primary-blue);
  align-items: center;
  padding-right: 1rem;
  justify-content: end;
}

.task-name {
  cursor: pointer;
}

.add-task {
  cursor: pointer;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
}

.plus-circle-outline {
  color: var(--primary-blue);
  font-size: 18px;
}

.active-status {
  color: var(--primary-green);
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.inactive-status {
  color: var(--gray-secondary);
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.employeeTitle {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  padding: 1rem 0.5rem 0 1rem;
}

.list {
  font-weight: 400;
  font-size: 14px;
  line-height: 25px;
}

.icons {
  color: var(--gray-secondary);
  font-size: 1.5rem;
}

.header-row {
  padding-bottom: 1rem;

  h1 {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
  }
}

.filter-col {
  display: flex;
  justify-content: flex-end;
  margin-left: 1.5rem;
  @media screen and (max-width: 767px) {
    padding-bottom: 1rem;
  }

  :global {
    .ant-btn-text {
      color: var(--gray-secondary);
    }

    .ant-btn {
      border-radius: 0;
      height: 50px;
      border-color: var(--gray-2);
      background: var(--gray-2);
      &:focus {
        border-color: var(--primary-blue);
        color: var(--black-1);
      }
    }
  }
}
