.container {
  padding: 2rem 0 2rem 0;

  .new-invoice {
    float: right;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: var(--primary-blue);
  }
}

.actions {
  cursor: pointer;
}
