.container {
  padding-top: 2rem;
}

.tab-name {
  font-weight: 600;
  padding: 0 3rem;
}

.autopay-checkbox{
  margin-top: 2rem;
}

.autopay-title{
  margin-left: 0.5rem;
  font-weight: 500;
}
.autopay-description{
  font-size: 11px;
  color:#6d6e78;
  line-height: 1.45;
}

.payment-method-title{
  color:#6d6e78;
  font-size: 1rem;
  line-height: 0.15;
  margin-bottom: 2rem;
}