.resp-table-body {
  :global {
    .ant-card-body {
      padding: 0
    }

    .ant-input,
    input {
      font-weight: 600;
      font-size: 14px;
      line-height: 22px;
    }
  }
}

.card-col-timesheet {
  overflow-x: auto;
  overflow-y: auto;
}

.site-card-wrapper {
  padding-top: 2rem;
  font-style: normal;

  .time-entries {
    padding-left: 1.5rem;
    padding-right: 1.5rem;

    .add-entry {
      font-weight: 600;
      font-size: 18px;
      line-height: 22px;
      cursor: pointer;
      color: var(--primary-blue);
    }
  }

  .timesheet {
    padding: 1rem;
    font-weight: 600;
    font-size: 28px;
    line-height: 29px;

    @media screen and (max-width: 1282px) {
      font-size: 20px;
    }
  }

  .add-time-stamp {
    font-weight: 600;
    padding: 1rem;
    font-size: 20px;
    float: right;

    @media screen and (max-width: 1281px) {
      font-size: 14px;
    }

    line-height: 22px;
    cursor: pointer;
    color: var(--primary-blue);
  }
}

.resp-table-header,
.resp-table-body {
  display: flex;
}

.resp-table-header {
  background: var(--gray-secondary);
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: var(--white)
}

.resp-table-body {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.table-header-cell,
.table-body-cell {
  width: 15%;
  padding: 1rem;

  &:last-child {
    width: 10%;
  }
}

.table-body-cell {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.modal-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  padding: 1rem;
}

.delete-entry,
.reject-entry,
.approve-entry {
  font-size: 23px;
}

.reject-entry {
  color: var(--primary-red);

  &:hover {
    color: var(--primary-red);
  }
}

.approve-entry {
  color: var(--primary-green);
}

.detail-table {
  overflow-x: auto;

  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  th {
    text-align: left;
    background: var(--gray-secondary);
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: var(--white);
    padding: 1rem;
    border: none
  }

  td {
    padding: 8px;
    white-space: nowrap;
    text-align: center;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    color: var(--gray-1);
    font-family: Montserrat;
  }

  .detail-name {
    text-align: left;
  }

  :global {
    .ant-input {
      font-weight: 600;
      font-size: 14px;
      line-height: 17px;
      color: var(--gray-1);
      font-family: Montserrat;
    }
  }
}

.main-table {
  width: 100%;
}

.table-total {
  background: var(--gray-secondary);

  td {
    color: var(--white);
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    text-align: left;
    padding: 1rem 0rem 1rem 1.5rem;
  }
}