.site-layout {
  padding: 0 15px;
  background: var(--color-light-gray);
}

.site-content {
  margin-top: 64px;
  margin-left: 263px;
}

.site-content-collapsed {
  margin-top: 64px;
  margin-left: 0;
}

