.backArrow {
  font-size: 24px;
  color: var(--primary-blue);
}

.employeeName {
  font-size: 18px;
  line-height: 22px;
  margin-left: 1rem;
}

.title-card {
  margin-top: 1rem;
  .title {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
  }
}
