.confirm-modal {
  :global {
    .ant-modal-footer {
      border: none;
      text-align: center;
      padding-bottom: 5rem;
    }
  }

}

.close-icon-div {
  padding: 5px;
  border-radius: 50px;
  background: var(--gray-2);
}
