@import './fonts.scss';
@import './antd.css';

:root {
  --primary-gradient: linear-gradient(to right, #3A43AF, #95239C);
  --primary-color: #95239C;
  --primary-purple: #95239C;
  --primary-blue: #3A43AF;
  --gray-secondary: #BDBDBD;
  --gray-1: #333333;
  --gray-2: #F2F2F2;
  --gray-3: #E0E0E0;
  --white: #FFFFFF;
  --black: #000000;
}

