@import '~antd/dist/antd.css';
@import './fonts.scss';

:root {
  --color-limed-spruce: #38414A;
  --color-white: #FFFFFF;
  --color-black: #000000;
  --color-alto: #E0E0E0;
  --color-light-gray: #F2F2F2;
  --color-mine-shaft: #333333;
}

