:global {
  :local(.header-container) {
    &.ant-layout-header {
      display: flex;
      justify-content: space-between;
      background: var(--white);
      position: fixed;
      z-index: 1;
      width: 100%;
      padding-left: 20px;
      padding-right: 50px;
    }

    .anticon-menu {
      @media only screen and (min-width: 992px) {
        display: none;
      }
    }
  }
}

.logo {
  display: flex;
  align-items: center;
  //height: 31px;
  //margin: 16px 24px;
  margin-left: 24px;
}

.text-logo {
  width: 100%;
  height: 3rem;
}

.company-name {
  color: var(--primary-color);
  font-size: 24px;
  font-weight: bold;
  margin-top: 18px;
  text-transform: capitalize;
}

.locale-wrapper {
  float: right;
  margin-right: 15px;

  .divider,
  .language-switcher {
    color: var(--whi te);
  }

  .language-switcher {
    border: 1px solid #e2ffbc;
    padding: 2px 5px;
    margin: 0 4px;
    cursor: pointer;

    &.active {
      font-weight: bold;
    }
  }
}

.header-right {
  display: flex;
  align-items: center;
  gap: 10px;

  .notification {
    border-right: 1px solid var(--gray-3);
    border-left: 1px solid var(--gray-3);
    padding: 0 1.5rem;
    margin-right: 1rem;
    cursor: pointer;

    img {
      width: 25px;
      height: 25px;
    }
  }
  .avatar {
    .name-container {
      cursor: pointer;
    }

    .name {
      padding: 0 1rem;
    }
    @media only screen and (max-width: 562px) {
      .name {
        display: none;
      }

      .drop-arrow {
        padding-left: 0.3rem;
      }
    }

    .drop-arrow {
      width: 16px;
      height: 16px;
    }
  }
}

.modal-title {
  font-weight: 600;
}

@media only screen and (max-width: 613px) {
  .text-logo {
    display: none;
  }
}
@media only screen and (max-width: 992px) {
  .mini-logo {
    padding-left: 30px;
  }
}
