:global {
  :local(.site-sidebar) {
    &.ant-layout-sider {
      border-top: 1px solid var(--gray-3);
      overflow: auto;
      height: 100vh;
      position: fixed;
      left: 0;

      .ant-menu-item-selected {
        background: unset;

        a {
          font-weight: 500;
        }
      }


      .ant-menu-inline .ant-menu-item {
        &:after {
          border-right: unset;
        }

        &:active {
          background: unset;
        }
      }
    }
    .ant-menu {
      padding-top: 1rem;
    }
  }
}

