.main-div {
  padding: 2rem 0 2rem 0;

  .date {
    cursor: pointer;
    color: var(--primary-blue);
    font-weight: 600;
  }

  .add-new-schedule {
    float: right;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: var(--primary-blue);
    cursor: pointer;
  }

  .schedule-header {
    margin: 1rem 1.5rem 1rem 0;
    padding: 1rem 0 1rem 1rem;
    background-color: var(--gray-2);

    @media screen and (min-width: 1400px) {
      display: flex;
    }

    @media screen and (max-width: 700px) {
      display: flex;
    }

    .schedule-status {
      width: 100%;
      font-weight: 600;
      font-size: 18px;
      line-height: 22px;
    }

    .duration {
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      width: 100%;
      text-align: right;
      padding-right: 1rem;
    }

    @media screen and (max-width: 1550px) and (min-height: 1508px) {
      .schedule-status {
        font-size: 16px;
        width: 100%;
      }
      .duration {
        width: 100%;
        font-size: 13px;
      }
    }

    @media screen and (max-width: 1508px) {
      .schedule-status {
        width: 100%;
        font-size: 15px;
      }
      .duration {
        width: 100%;
        font-size: 13px;
      }
    }
  }

  .gridStyle {
    width: 100%;
  }

  .gridStyle70 {
    width: 70%;
  }

  .gridStyle30 {
    width: 30%;
  }

  .schedule-card {
    cursor: pointer;
    background: var(--white);
    margin: 1.5rem 1.5rem 1rem 0;
    border: 1px solid #bdbdbd;
    box-sizing: border-box;
    box-shadow: 0 7px 4px rgba(231, 231, 231, 0.25);
  }

  .form-col {
    padding: 1.5rem 0 0.9rem 0;

    h1 {
      font-weight: 600;
      font-size: 24px;
      line-height: 29px;
    }
  }
}

.description {
  padding: 1rem 0 0 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;

  div {
    margin-bottom: 0.3rem;
  }
}
