.status {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.Received,
.Open,
.Approved,
.Active {
  color: var(--primary-green);
}

.Sent,
.Inactive {
  color: var(--gray-secondary);
}

.Unapproved,
.Pending {
  color: var(--primary-orange);
}

.Rejected {
  color: var(--primary-red);
}
