.Open,
.Active {
  color: var(--primary-green);
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.Sent
.Inactive {
  color: var(--gray-secondary);
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}
