.footer-div {
  height: 1rem;
  background-color: var(--white);
  text-align: center;
  padding: 1rem;
}

.footer-text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  padding-bottom: 1rem;
  cursor: pointer;
}
