code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

::-webkit-scrollbar {
  width: 0.2em;
}

@media screen and (max-width: 850px) {
  ::-webkit-scrollbar {
    height: 0.5rem;
  }
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
  background-color: darkgrey;
}


@media screen and (max-width: 850px) {
  .container-row {
    padding-bottom: 2rem;
  }
}

.container-row {
  overflow-x: auto;
}