.title-div{
    padding-bottom: 2rem;
    border-bottom: 5px solid var(--gray-2);
    margin-bottom: 2rem;
}
.title {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
}

.close-icon-div {
  padding: 5px;
  border-radius: 50%;
  background: var(--gray-2);
}

.attach-timesheet {
  
    :global {
      .ant-upload-list {
        display: none;
      }
    }
  }

.upload-file {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--gray-2);

  .browse-file {
    cursor: pointer;

    span {
      color: var(--primary-blue);
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
    }
  }

  .close-file {
    font-size: 16px;
    color: var(--black);
    margin-left: 7px;
    cursor: pointer;
  }
  span {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: var(--gray-secondary);
  }
}

.asterisk-icon{
  margin-right: 1px;
  line-height:1;
  font-family: 'SimSun', sans-serif;
}
