.main-div {
  padding: 2rem 0 2rem 0;

  :global {
    .ant-select:not(.ant-select-customize-input)
      .ant-select-selector
      .ant-select-selection-search-input {
      height: 54px;
    }
  }
}

.client-name {
  cursor: pointer;
}

.table-icon{
  font-size:1.5rem;
  margin-right: 1rem;
}

.table-active-status-icon{
  color: var(--primary-green);
}

.table-inactive-status-icon{
  color: var(--primary-red);
}

.table-client-icon{
  color: var(--black);
}

.table-archive-icon{
  color: var(--primary-red);
}

.table-unarchive-icon ,.table-edit-icon{
  color:var(--primary-blue)
}
h1 {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
}

.add-new-client {
  float: right;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: var(--primary-blue);
}

.client-name {
  cursor: pointer;
  text-transform: capitalize;
}

.client-name:hover {
  color: var(--primary-blue);
}

.formCol {
  padding: 0 1rem 0 1rem;

  h1 {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
  }
}

.filter-col {
  display: flex;
  justify-content: flex-end;
  margin-left: 3rem;

  @media screen and (max-width: 767px) {
    padding-bottom: 1rem;
  }

  :global {
    .ant-btn-text {
      color: var(--gray-secondary);
    }

    .ant-btn {
      border-radius: 0;
      height: 50px;
      border-color: var(--gray-2);
      background: var(--gray-2);
      &:focus {
        border-color: var(--primary-blue);
        color: var(--black-1);
      }
    }
  }
}
