.main-div {
  padding: 2rem 0 2rem 0;

  :global {
    .ant-select:not(.ant-select-customize-input) .ant-select-selector .ant-select-selection-search-input {
      height: 54px;
    }
  }
}

.client-col {
  padding: 1.5rem 0 0.9rem 0;

  h1 {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
  }

  .add-new-client {
    float: right;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: var(--primary-blue);
  }
}

.client-name {
  cursor: pointer;
  text-transform: capitalize;
}

.client-name:hover {
  color: var(--primary-blue);
}

.formCol {
  padding: 0 1rem 0 1rem;

  h1 {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
  }
}