.cico {
  cursor: pointer;
 }

.container {
  background-color: var(--white);
  padding: 1rem 2rem;
  border: 1px solid var(--gray-secondary);
}

.title {
  font-weight: 600;
  font-size: 18px;
  color: var(--primary-blue);
}

.date {
  font-weight: 600;
  font-size: 24px;
}

.timer{
  font-weight: 600;
  font-size: 24px;
}