.title-div {
  padding-bottom: 2rem;
  border-bottom: 5px solid var(--gray-2);
  margin-bottom: 2rem;
}
.title {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
}

.close-icon-div {
  padding: 5px;
  border-radius: 50px;
  background: var(--gray-2);
}

.employeeList {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
}

.check {
  color: var(--gray-secondary);
  cursor: pointer;
  font-size: 18px;
}

.selected {
  color: var((--primary-blue));
  cursor: pointer;
  font-size: 18px;
}
