.container {
  padding: 2rem 0 2rem 0;

  .invoice-link {
    font-weight: 600;
  }

  .download-report {
    margin-top: 1.5rem;
  }
  .table-icon{
    font-size:1.5rem;
    margin-right: 1rem;
  }

  .table-view-icon{
    color:var(--primary-blue)
  }
}

.filter-col {
  display: flex;
  justify-content: flex-end;
  margin-left: 3rem;

  @media screen and (max-width: 767px) {
    padding-bottom: 1rem;
  }

  :global {
    .ant-btn-text {
      color: var(--gray-secondary);
    }

    .ant-btn {
      border-radius: 0;
      height: 50px;
      border-color: var(--gray-2);
      background: var(--gray-2);
      &:focus {
        border-color: var(--primary-blue);
        color: var(--black-1);
      }
    }
  }
}